#create,
#update {
    padding: 2rem;
    margin: auto;
    @include flex(column, center, stretch);
    h2 {
        text-align: center;
        font-size: $jumbo;
        color: $secondary;
        font-weight: 400;
        margin: 4rem 0;
    }
    .form {
        &__box {
            &--select {
                padding: .5rem;
                width: 100%;
                background-color: $white;
                border-radius: 5px;
            }
            &--area {
                font-family: $inter;
                padding: .5rem;
                width: 100%;
            }
        }
    }
}