.products {
  max-width: 1440px;
  margin: auto;
  padding: 4rem;
  @include flex(row, space-around, center);
  flex-wrap: wrap;
  .card {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .products {
    .card {
      width: 50%;
    }
  }
}

@media (max-width: 420px) {
  .products {
    .card {
      width: 100%;
    }
  }
}
