<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/branding/isotype.svg" type="image/x-icon">
    <title><%= pageTitle %> | Funkoshop</title>
</head>
<body>
<header>
    <nav class="navbar">
        <picture class="navbar__logo">
           <a href="/"><img class="navbar__logo--img"src="/img/branding/dark.svg" alt="Funkoshop dark logo"></a>
        </picture>
        <ul>
            <li class="link"><a href="/shop">SHOP</a></li>
            <li class="link"><a href="/contact">CONTACTO</a></li>
            <li class="link icon"><a href="/login"><img class="link__icon" src="/img/icons/monster-icon.svg" alt="Monster face icon for login"></a></li>
            <li class="link icon"><a href="/cart"><img class="link__icon" src="/img/icons/cart-icon.svg" alt="Shop cart icon"></a></li>
        </ul>
    </nav>
</header>