<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/branding/isotype.svg" type="image/x-icon">
    <title><%= title %> | Funkoshop</title>
</head>
<body>
<header>
    <nav>
        <picture>
           <a href=""><img src="/img/branding/dark.svg" alt="Funkoshop dark logo"></a>
        </picture>
        <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/contact">CONTACTO</a></li>
            <li><a href="/login"><img src="/img/icons/monster-icon.svg" alt="Monster face icon for login"></a></li>
            <li><a href="/cart"><img src="/img/icons/cart-icon.svg" alt="Shop cart icon"></a></li>
        </ul>
    </nav>
</header>