<%- include('../partials/header'); -%>
<main>
    <section id="login" class="container">
        <h2>Ingresa a tu cuenta:</h2>
        <form class="form" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form__box">
                <label class="form__box--label"for="email">Email:</label>
                <input class="form__box--input" type="email" name="email" id="email" placeholder="johndoe@email.com" required>
            </div>
            <div class="form__box">
                <label class="form__box--label"for="password">Contraseña:</label>
                <input class="form__box--input" type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required>
            </div>
            <div class="form__box">
                <input class="form--btn" type="submit" value="Ingresar">
                <div class="flex-row">
                    <input type="checkbox" name="remember" id="">
                    <label for="">Recordarme</label>
                </div>
            </div>
            <a href="/user/restore">Olvidé mi contraseña</a>
        </form>
    </section>
</main>
<%- include('../partials/footer'); -%>
