*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $raleway;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: $medium;
}

p {
  font-family: $inter;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
  border-color: $secondary;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.flex-row {
  @include flex(row, space-around, center);
  gap: .5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
