*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $raleway;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: $medium;
}

p {
  font-family: $inter;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

.container {
  max-width: 1440px;
}

.flex-row {
  @include flex(row, space-around, center);
  gap: .5rem;
}
